::-webkit-scrollbar {
    display: none;
}

* { margin:0; padding:0; }

html, body { width:100%; height:100%; }

canvas {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}
#canvasSun{
  z-index: -2
}
#canvasSky{
  z-index: -3
}

.elephantContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-columns: 33% 33% 33%;
  position: fixed;
  top: 40%;
  width:400px;
}

#elephant1Pic{
height: 100px;
grid-column-start: 1;
grid-row-start: 1;
}

#elephant2Pic{
height: 100px;
grid-column-start: 2;
grid-row-start: 1;
}

#elephant3Pic{
height: 100px;
grid-column-start: 2;
grid-row-start: 2;
}

#elephant4Pic{
height: 100px;
grid-column-start: 1;
grid-row-start: 2;
}

#elephant5Pic{
height: 100px;
grid-column-start: 3;
grid-row-start: 2;
}

.giraffeContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-columns: 25% 25% 25% 25%;
  position: fixed;
  right:0;
  top: 33%;
}
#giraffe1Pic{
  height: 150px;
  grid-column-start:2;
  grid-row-start: 1;
}
#giraffe2Pic{
  height: 150px;
  grid-column-start: 3;
  grid-row-start: 1;
}

#giraffe3Pic{
  height: 100px;
  grid-column-start: 2;
  grid-row-start: 2;
}

#giraffe4Pic{
  height: 100px;
  grid-column-start: 3;
  grid-row-start: 2;
}

#giraffe5Pic{
  height: 100px;
  grid-column-start: 4;
  grid-row-start: 2;
}
.monkeyContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-columns: 25% 25% 25% 25%;
  position: fixed;
  left:40%;
  bottom: 5%;
}
#monkey1Pic{
  height: 150px;
  grid-column-start:1;
  grid-row-start: 1;
}
#monkey2Pic{
  height: 150px;
  grid-column-start: 2;
  grid-row-start: 1;
}

#monkey3Pic{
  height: 100px;
  grid-column-start: 1;
  grid-row-start: 2;
}

#monkey4Pic{
  height: 100px;
  grid-column-start: 2;
  grid-row-start: 2;
}

#monkey5Pic{
  height: 100px;
  grid-column-start: 3;
  grid-row-start: 2;
}


#tree{
  position:fixed;
  right: 22%;
  top: 20%;
  width: 300px;
}

#healthBarContainer{
  left: 2.5%;
  position:fixed;
  top: 2.5%;
  width:300px;
  z-index: 1;
}

.healthBar{
  border-style: solid;
  display: flex;
  flex-direction: column;
  min-height:50px;
}

#elephantHealth{
  background-color: green;
  border-style: solid;

  height:50px ;
}
.individualHealth{
  background-color: hsl( 120, 100%, 45%);
  border-style: solid;
  border-width: 1px;
  font-size: 10px;
  font-weight: bold;
  margin-top: -1px;
  height: 10px;
  text-align: right;
  transition: width 5s;
}

.individualHealth p{
  z-index:2;
}
#monkeyHealth{
  background-color: green;
  border-style: solid;
  margin-top: -2.4px;
  width:100%;
  height:50px ;
}

.activeButtonContainer{
  position: fixed;
  left:47.5%;
  top: 5%;
  width: 20%;
}
.activeStartButton{
  background-color: #13203C;
  color: #FBFD8D;
  border-radius: 50px;
  position: fixed;
  left:47.5%;
  top: 5%;
  width: 5%;
}

.activeFeedButton{
  background-color: #13203C;
  color: #FBFD8D;
  border-radius: 50px;
  position: fixed;
  left:45%;
  top: 5%;
  width: 5%;
}

.activeHourButton{
  background-color: #13203C;
  color: #FBFD8D;
  border-radius: 50px;
  position: fixed;
  left:50%;
  top: 5%;
  width: 5%;
}

.hiddenButton{
  display: none;
}

#clock{
  font-size: 3rem;
  position: fixed;
  right: 5%;
  top: 2.5%;
}
